name: Docker Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t my_test_image .

      - name: Run Docker container with secret variable
        env:
          TEST_KEY: ${{ secrets.TEST_KEY }}
        run: docker run -e TEST_KEY=${{ secrets.TEST_KEY }} --name my_test_container my_test_image

      - name: Check if the container is running
        run: docker ps

      - name: Display TEST_KEY inside the container
        run: docker logs my_test_container | grep TEST_KEY


